.content{
	background-color: #fff;
	.bill-header{
		width: 100%;
		height: 42px; 
		line-height: 42px;
		border:1px solid #ddd;
		span{
			display: inline-block;
			width: 120px;
			height: 100%;
			line-height: 42px;
			text-align: center;
			border-right:1px dashed #ddd;
			cursor:pointer;
			color: #323232;
			&.active{
				color: #1889d3;
				background-color: #e7f3fb;
			}
		}
	}
	.bill-content{
		display: none;
		&.active{
			display: block;
		}
	}
	.bill-select{
		height: 36px;
		line-height: 36px;
		>div{
			width: 146px;
			height: 100%;
			text-align: center;
			>span{
			display: inline-block;
			width: 100%;
			height: 100%;
			&.active{
				ul{
					display: block;
					z-index: 100;
				}
			}
			.icon-down{
				display: inline-block;
				width: 12px;
				height: 6px;
				background-image: url(../img/down.png);
				margin-left: 20px;
				vertical-align: middle;
			}
			}
			ul{
				width: 100%;
				background-color: #ddd;
				box-shadow: 1px 1px 5px rgba(0,0,0,.3),
				 			-1px 1px 5px rgba(0,0,0,.3);
				background-color: #fff;
				display: none;
				top:0;
				left: 0;
				li{
					width: 100%;
					height: 36px;
					line-height: 36px;
					color:#323232;
					a{
						display: inline-block;
						width: 100%;
						height: 100%;
						&:hover{
							background-color: #1889d3;
							color:#fff;
						}
						&.active{
							background-color: #1889d3;
							color:#fff;
						}
					}
					&:hover{
						background-color: #1889d3;
						color:#fff;
					}
					&.active{
						background-color: #1889d3;
						color:#fff;
					}
					.icon-up{
						display: inline-block;
						width: 12px;
						height: 6px;
						background-image: url(../img/up.png);
						margin-left: 20px;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.bill-title{
		height: 38px;
		line-height: 38px;
		border-top:1px solid #ebebeb;
		border-bottom:1px solid #ebebeb;
		padding-left: 22px;
		// padding-right: 164px;
		.pr-name{
			display: inline-block;
			width: 140px;
			height: 100%;
			text-align: center;
		}
		.pr-intr{
			display: inline-block;
			width: 290px;
			height: 100%;
			text-align: center;
		}
		.pr-rec{
			display: inline-block;
			width: 130px;
			height: 100%;
			text-align: center;
		}
		.pr-win{
			display: inline-block;
			width: 150px;
			height: 100%;
			text-align: center;
		}
		.pr-change{
			display: inline-block;
			width: 100px;
			height: 100%;  
			text-align: center;    
		}
	}
	.bill-items{
		margin-left: 22px;
		width: 978px;
		padding -bottom: 30px;
		li{
			border-bottom: 1px solid #ebebeb;
			height: 114px;
			width: 100%; 
			.portrait{
				display: inline-block;
				width: 140px;
				height:100%;
				position: relative;
				.icon-hat{
					width:38px;
					height: 33px;
					display: inline-block;
					background-size: 38px 33px;
					position: absolute;
					top:6px;
					left: 32px;
				}
				.icon-bill{
					display: inline-block;
					width:68px;
					height: 18px;
					background-size: 68px 18px;
					background-image: url(../img/NO1.png);
					position: absolute;
					bottom:28px;
					left: 36px;
				}
				.icon-no{
					display: inline-block;
					width:22px;
					height: 22px;
					border-radius:50%;
					background-color: #1889d3;
					position: absolute;
					bottom: 30px;
					left: 40px;
					text-align: center;
					line-height: 22px;
					color:#fff;
				}

				img{
					display: block;
					width: 60px;
					height: 60px;
					border-radius: 50%;
					
					overflow: hidden;
					margin:0 auto;
					margin-top:20px;
					margin-bottom: 8px;
				}
				p{
					display: inline-block;
					width: 100%;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
					text-align: center;
					font-size:14px;
					color:#323232;
					margin:0 auto;
				}
			}
			.item-intr{
				width: 224px;
				padding:0 33px;
				font-size: 14px;
				height: 100%;
				position: relative;
				>div{
					width: 224px;
					height: 100%;
					>p{
						width: 224px;
						position: absolute;
						top:50%;
						transform:translateY(-50%);
						-webkit-transform:translateY(-50%);
						-moz-transform:translateY(-50%);
						-ms-transform:translateY(-50%);
						-o-transform:translateY(-50%);
						overflow: hidden;
					text-overflow:ellipsis;
					display: -webkit-box;
					-webkit-line-clamp:3;
					-webkit-box-orient:vertical;
					}
					
				}
				
			}
			.recIndex{
				display: inline-block;
				width: 130px;
				height: 114px;
				line-height: 114px;
				font-size: 14px;
				color:#323232;
				text-align: center;
			}
			.win{
				display: inline-block;
				width: 150px;
				height: 114px;
				line-height: 114px;
				font-size: 14px;
				color:#323232;
				text-align: center;
			}
			.changelast{
				display: inline-block;
				width: 100px;
				height: 114px;
				line-height: 114px;
				background-size: 10px 22px;
				background-position: center;
				background-repeat: no-repeat;
				&.up{
					background-image: url(../img/shang.png);
				}
				&.down{
					background-image: url(../img/xia.png);
				}
				

			}
			.attention{
				width: 164px;
				height: 100%;
				// line-height: 114px;
				text-align: center;
				a{
					display: inline-block;
					width: 94px;
					height: 32px;
					background-color: #1889d3;
					color:#fff;
					text-align: center;
					line-height: 32px;
					font-size: 14px;
					border-radius:4px;
					margin-top:40px;
				}
			}
		}
	}
}