.wrap{
	width:1000px;
	margin:0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
*{
	margin:0;
	padding:0;
}
ul,li{
	list-style: none;
}
a{
	color:#323232;
	text-decoration: none;
}
.clearfix:after{
	content:'';
	display:block;
	width:0;
	height: 0;
	clear: both;
	visibility: hidden;
}
body{
	font-family: 'Microsoft YaHei','\5b8b\4f53',sans-serif;
	color:#323232;
	line-height: 1;
	overflow-x: hidden;
}
input{
	outline-style: none;
	border:none;
}
button{
	border:none;
	background-color: #fff;
}
i{
	font-style: normal;
}
.pa{
	position:absolute;
}
.pr{
	position: relative;
}
.pf{
	position: fixed;
}
input:-webkit-autofill {
background-color: #e7edf2;
background-image: none;
}