
body{
	background-color: #f4f4f4;
}
// html,body{
// 	height: 100%;
// }
// .layout{
// 	min-height: 100%;
// }
// .container{
// 	padding-bottom: 120px;
// }
// .mar_t15{
// 	height: 120px;
// 	margin-top: -120px;
// }
.nav{
	width:100%;
	height: 72px;
	background-color: #1889d3;
	margin-bottom: 10px; 
	box-shadow: 2px 2px 20px rgba(0,0,0,.05);
	.wrap{
		.logo{
			width:147px;
			height: 50px;
			background-image: url('../img/logo.png');
			background-repeat: no-repeat;
			background-size: 147px 50px;
			background-position: center;
			margin-top: 11px;
			margin-right: 20px;
		}
	ul{
		top:0;
		left: 167px;
		width:120%;
		li{
			float:left;
			height: 72px;
			line-height: 72px;
			a{
				display: inline-block;
				padding:0 10px;
				height: 100%;
				// height: 71px\9;
				text-align: center;
				font-size: 16px;
				color:#f9f9f9;
				&.active{
					color:#fff;
					background-color: #459fdb;
				}
			}
		}
	}
	}
}
.main{
	.subnav{
		width: 100%;
		height:44px;
		line-height: 44px;
		text-align: center;
		border:1px solid #cfdae2;
		// box-sizing: border-box;
		margin-bottom: 10px;
		background-color: #fff;
		box-shadow: 2px 2px 20px rgba(0,0,0,.05);
		.fl{
			height: 100%;
			div{
				display: inline-block;
				width: 140px;
				height: 100%;
				a{
					display: inline-block;
					width: 100%;
					height: 100%;
					color:#000;
					border-right:1px dashed #cfdae2;
					box-sizing: border-box;
					&.active{
						color:#1fa0ff;
						border-bottom: 2px solid #1fa0ff;
					}
				}
			}
		}
		.fr{
			height: 100%;
			margin-right:32px;
			div{
				height: 26px;
				margin-top:10px;
				border:1px solid #cfdae2;
				box-sizing: border-box;
				.txt{
					width:138px;
					height: 100%;
					vertical-align: top;
					box-sizing: border-box;
					border-right:none;
					padding-left: 10px;
					font-size: 12px;
				}
				.search{
					height: 100%;
					width:54px;
					vertical-align: top;
					background-color: #f4f4f4;
					background-image: url(../img/search.png);
					background-size: 18px 18px;
					background-position: center;
					background-repeat: no-repeat;
					cursor:pointer;
				}

			}
					}
	}
	.content{
		>.fl{
			width:200px;
			margin-right: 10px;
			.personalCenter{
				width: 100%;
				height: 188px;
				background-color: #fff;
				.msg-err{
					font-size: 12px;
					color:#666;
					background-color: #fff;
					top:-34px;
					left:15px;
					height: 24px;
					line-height: 24px;
					border:1px solid #ddd;
					padding:0 8px;
					border-radius: 2px;
					box-shadow: 1px 1px 20px rgba(0,0,0,.1),
						-1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1);
					// &:hover{
					// 	opacity: 1;
					// 	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=1);
					// }
					.icon-tips{
						display: inline-block;
						width: 14px;
						height: 14px;
						background-image: url(../img/tip.png);
						background-size: 14px 14px;
						vertical-align: text-bottom;
						margin-right:8px;
					}
					.icon-close{
						display: inline-block;
						width: 10px;
						height: 10px;
						background-image: url(../img/close.png);
						// vertical-align: text-bottom;
						margin-left: 12px;
					}
					.icon-tri{
						display: inline-block;
						width: 18px;
						height:6px;
						background-image: url(../img/tri-down.png);
						background-size:18px 6px;
						top:24px;
						left:50%;
						margin-left: -6px;
					}
				}
				&.logged-p{
					.content{
						div.recharge{
						a{
							display: inline-block;
							width: 88px;
							height: 28px;
							text-align: center;line-height: 28px;
							box-sizing: border-box;
							&.withdraw{
								margin-left: 7px;
							}
						}
					}
					}
					
				}
				&.phlogin{
					.ac{
						width: 110px;
						height: 28px;
						border:1px solid #d1d1d1;
						box-sizing: border-box;
						margin-bottom: 8px;
						line-height: 26px;
						padding-left: 10px;
						font-size: 12px;
						border-top-left-radius: 2px;
						border-bottom-left-radius: 2px;
						&:focus{
							background-color: #e7edf2;
							border-color:#1fa0ff;
						}
					}
					.countdown{
						font-size: 12px;
						display: inline-block;
						width: 72px;
						height: 28px;
						box-sizing: border-box;
						border:1px solid #d1d1d1;
						border-top-right-radius: 2px;
						border-bottom-right-radius: 2px;
						border-left: none;
						line-height: 26px;
						text-align: center;
						cursor: pointer;
						// background-color: #e7edf2;
						color:#666;
						&:active{
							background-color: #1fa0ff;
							color:#fff;
						}
						&.active{
							background-color: #1fa0ff;
							color:#fff;
						}
					}
					.verify{
						width: 50px !important;
					}
				}
				&.logout{
					.content{
						margin-top: 15px;
					}
					.account,.password{
					width: 182px;
					height: 28px;
					line-height: 26px;
					border:1px solid #d1d1d1;
					margin-bottom: 8px;
					padding-left: 10px;
					box-sizing: border-box;
					font-size: 12px;
					border-radius: 2px;
					&:focus{
						border-color: #1fa0ff;
						background-color: #e7edf2;
					}
					}
					.verify{
						background-color: #fff;
						height: 12px;
						color:#323232;
						font-size: 12px;
						width: 83px;
						margin-right: 13px;
						cursor:pointer;
						color:#666;
						&:active{
							// background-color: #1fa0ff;
						}
					}
					.logging-page,.register-page{
						display: inline-block;
						margin-top:13px;
						width: 88px;
						height: 28px;
						font-size: 12px;
						line-height: 28px;
						background-color: #fafafa;
						border:1px solid #d1d1d1;
						color:#666;
						border-radius: 2px;
						&:hover{
							background-color: #e7edf2;
							border-color:#1fa0ff;
						}
						&:active{
							background-color: #1fa0ff;
							color:#fff;
							border-color: #1fa0ff;
						}
					}
					// .register{
					// 	display: inline-block;
					// 	// margin-top:20px;
					// 	width: 88px;
					// 	height: 28px;
					// 	font-size: 12px;
					// 	line-height: 28px;
					// }
				}
				.header{
					width:100%;
					padding-left: 15px;
					height: 36px;
					line-height: 36px;
					font-size: 16px;
					color:#fff;
					background-color: #1fa0ff;
					margin-bottom: 13px;
					box-sizing: border-box;
				}
				.content{
					margin-left:10px;
					.msg{
						margin-bottom: 12px;
						.portrait{
							width: 50px;
							height: 50px;
							border-radius: 50%;
							// border:2px solid #1fa0ff;
							margin-right: 10px;
							overflow:hidden;
							img{
								width: 100%;
								height: 100%;
							}
						}
						.fl.right{
							width:130px;
							padding-top:5px;
							div{
								width: 130px;
								height: 20px;
								font-size: 12px;
								line-height: 20px;
							}
						}
					}
					.personalBtn,.applyBtn{
						display: inline-block;
						width: 88px;
						height: 28px;
						text-align: center;
						position: relative;
						a{
							display: inline-block;
							width: 100%;
							height: 100%;
							font-size: 12px;
							line-height: 26px;
							color:#666;
							padding-left:20px;
							text-align: center;
							border:1px solid #d1d1d1;
							background-color: #fafafa;
							box-sizing: border-box;
							border-radius: 2px;
							&:hover{
								background-color: #e7edf2;
								border-color:#1fa0ff;
								.tips-name{
									display: block;
								}
							}
							&:active{
								background-color: #1fa0ff;
								color:#fff;
								border-color: #1fa0ff;
								.icon-p{
									background-image: url(../img/gerenzhongxin--pre.png);
								}
								.icon-n{
									background-image: url(../img/name-pre.png);
								}
								.icon-pub{
									background-image: url(../img/apply-pre.png);
								}
								.tips-name{
									display: none !important;
								}
							}
							.icon-p{
								position: absolute;
								top:50%;
								left:10px;
								margin-top:-7px;
								margin-right:7px;
								display: inline-block;
								width:14px;
								height: 14px;
								background-size: 14px 14px;
								background-repeat: no-repeat;
								background-image: url(../img/gerenzhongxin.png);
							}
							.tips-name{
								top:-34px;
								left:-15px;
								display: inline-block;
								width: 118px;
								background-color: #fff;
								height: 24px;
								line-height: 24px;
								border:1px solid #ddd;
								padding:0 10px;
								border-radius: 2px;
								display: none;
								z-index:30;
								box-shadow: 1px 1px 20px rgba(0,0,0,.1),
						-1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1);
								.icon-tri{
									width: 18px;
									height: 6px;
									display: inline-block;
									background-size: 18px 6px;
									position: absolute;
									top:24px;left:60px;
									background-image: url(../img/tri-down.png);
								}
							}
						}
					}
					.applyBtn{
						margin-left: 7px;
						.icon-n,.icon-pub{
							position: absolute;
								top:50%;
								left:10px;
								margin-top:-7px;
								margin-right:7px;
								display: inline-block;
								width:13px;
								height: 14px;
								background-size: 13px 14px;
								background-repeat: no-repeat;
								background-image: url(../img/name.png);
						}
						.icon-pub{
							background-image: url(../img/apply.png);
						}
					}
					.recharge{
						width: 183px;
						height:28px;
						line-height: 26px;
						box-sizing: border-box;
						background-color: #fafafa;
						text-align: center;
						margin-top:10px;
						a{
							width: 100%;
							height: 100%;
							display: inline-block;
							border:1px solid #d1d1d1;
							color:#666;
							font-size: 12px;
							line-height: 26px;
							border-radius:2px;
							&:hover{
								background-color: #e7edf2;
								border-color:#1fa0ff;
							}
							&:active{
								background-color: #1fa0ff;
								color:#fff;
								border-color: #1fa0ff;
							}
						}
					}
				}
			}
			.recommend{
				margin-top:10px;
				width: 100%;
				// height: 500px;
				background-color: #fff;
				.title{
					width: 100%;
					height: 36px;
					line-height: 36px;
					background-color: #1fa0ff;
					font-size: 16px;
					color:#fff;
					padding-left:15px;
					box-sizing: border-box;

				}
				.billboard{
					li{
						position: relative;
						margin-left: 8px;
						background-repeat: no-repeat;
						background-position: right bottom;
						border-bottom:1px solid #f4f4f4;
						height: 82px;
						// &:last-child{
						// 	border-bottom: none;
						// }
						&:after{
							content:'';
							width: 40px;
							height: 77px;
							display: block;
							position: absolute;
							visibility: visible;
							background-repeat: no-repeat;
							background-repeat: right bottom;
							top:16px;
							right:0px;
							// opacity: 0.3;
							z-index: 10;
						}
						a{
							display: inline-block;
							width: 100%;
							height: 100%;
							.portrait{
								display: inline-block;
								width: 50px;
								height: 50px;
								margin:10px 16px 17px 10px;
								border:2px solid #1fa0ff;
								border-radius: 50%;
								position: relative;
								img{
									width: 100%;
									height: 100%;
									border-radius: 50%;
								}
								.numb{
									position: absolute;
									bottom:-6px;
									left:-12px;
									width: 68px;
									height: 18px;
								}
								.number{
									position: absolute;
									display: block;
									width:20px;
									height: 20px;
									border-radius:50%;
									border:1px solid #fff;
									background-color: #1fa0ff;
									box-sizing: border-box;
									color:#fff;
									text-align: center;
									line-height: 18px;
									font-size: 14px;
									top:38px;
									left:-4px;
								}
							}
							.fl.message{
								width: 112px;
								margin-top:20px;
								span{
									font-size: 14px;
									width:100%;
									display: inline-block;
									color:#323232;
									height: 22px;
									line-height: 20px;
									padding-bottom: 3px;
									i{
										font-size:14px;
										color:#ec4844;
										// font-weight: 700;
									}
								}
							}
						}
					}
					li.firstLi .numb{
						background-image: url('../img/NO1.png')
					}
					li.secondLi .numb{
						background-image: url('../img/NO2.png')
					}
					li.thridLi .numb{
						background-image: url('../img/NO3.png')
					}
					li.firstLi:after{
						background-image: url(../img/jiangbei-1.png);
					}
					li.secondLi:after{
						background-image: url(../img/jiangbei-2.png);
					}
					li.thridLi:after{
						background-image: url(../img/jiangbei--3.png);
					}
				}
			}
		}
		>.fr{
			width: 790px;
			>.titleBar{
				width:100%;
				height: 36px;
				line-height: 36px;
				background-color: #1fa0ff;
				font-size: 14px;
				color:#fff;
				.gameplay{
					width:126px;
					height: 100%;
					line-height: 36px;
					// background-color: #ededed;
					text-align: center;
					margin-left: 25px;
					// margin-top:7px;
					margin-right: 70px;
					>a{
						display: inline-block;
						height: 100%;
						width: 100%;
						font-size: 16px;
						color:#fff;
					.pth{
						display: inline-block;
						width: 90px;
						text-align: center;
					}
					.icon-down{
						display: inline-block;
						width: 12px;
						height: 6px;
						margin-bottom: 3px;
						background-image: url(../img/down.png);
					}
					}
					.moreGameplay{
						width: 126px;
						text-align: center;
						background-color: #fff;
						z-index: 999;
						height: 0;
						overflow: hidden;
						margin-top:-37px;
						box-shadow: 1px 1px 3px rgba(0,0,0,.3),
						-1px 1px 3px rgba(0,0,0,.3),
						0px 0px 0px #fff,
						1px 1px 3px rgba(0,0,0,.3);
						border:1px solid #ddd\9;
						border-top:none\9;
						&.active{
							height: auto;
						}
						li{
							width: 100%;
							height: 36px;
							line-height: 36px;
							&:hover{
								a{
									background-color: #1fa0ff;
									color:#fff;

								}
							}
							a{
								display: inline-block;
								width: 100%;
								height: 100%;
								color:#323232;
								font-size: 16px;
								line-height: 36px;
								&.active{
									background-color: #1fa0ff;
									color:#fff;
								}
								.methods{
									display: inline-block;
									width: 90px;
									text-align: center;
								}
								.icon-up{
									display: inline-block;
									width: 12px;
									height: 6px;
									margin-bottom: 3px;
									background-image: url(../img/up.png);
									background-size: 12px 6px;
									background-repeat: no-repeat;
									vertical-align: middle;
								}
							}
							
						}
					}
					
				}
				.mode{
					display: inline-block;
					label{
						width: 40px;
						margin-right: 20px;
						cursor: pointer;
						height: 14px;
						line-height: 14px;
					}
					input{
						vertical-align: text-bottom;
						margin-right: 5px;
						width: 14px;
						height: 14px;
					}
				}
				.refund{
					display: inline-block;
					width: 110px;
					margin-right: 13px;
					input{
						vertical-align: text-bottom;
						margin-right: 5px;
						height: 14px;
						line-height: 14px;
					}
				}
			}
			>.recItems{
				background-color: #fff;
				padding-bottom: 20px;
				>ul{
					padding-top:20px;
					>li{
					// background-color: #f3faff;
					padding:0 16px;
					margin-bottom: 22px;
					
					>ul{
						>li{
							&.c2{
						.item-wrap{
							.itemRight{
								.message{
									.mgs-left{
										.icon_ball{
											top:11px;
										}
										.titleMsg{
											margin-top:10px;
											em{
												i{
													margin-bottom:4px;
												}
											}
										}
										.recTit{
											padding-top:14px;
											padding-bottom: 20px;
										}
										.tui{
											padding-bottom: 12px;
										}
									}
								}
							}
						}
					}
					&.c3{
						>.item-wrap{
							>.itemRight{
								.message{
									.mgs-left{
										.icon_ball{
											top:11px;
										}
										.titleMsg{
											margin-top:10px;
											em{
												i{
													margin-bottom:4px;
												}
											}
										}
										.recTit{
											padding-top:8px;
											padding-bottom: 12px;
										}
										.tui{
											padding-bottom: 10px;
										}
									}
								}
							}
						}
					}
						}
					}
					&.c2{
						>.item-wrap{
							>.itemLeft{
								.msg{
									margin-top:20px;
									.portrait{

									}
									.right{

										.name{
											padding-top:10px;
										padding-bottom: 9px;
											
										}
										.weekrating{
											padding-bottom: 5px;
										}
										.rating{
											padding-bottom: 6px;
											
										}
									}
								}
							}
							.itemRight{
								.message{
									.mgs-left{
										.icon_ball{
											top:11px;
										}
										.titleMsg{
											margin-top:10px;
											em{
												i{
													margin-bottom:4px;
												}
											}
										}
										.recTit{
											padding-top:14px;
											padding-bottom: 20px;
										}
										.tui{
											padding-bottom: 12px;
										}
									}
								}
							}
						}
					}
					&.c3{
						.item-wrap{
							.itemLeft{
								.msg{
									margin-top:23px;
									.portrait{

									}
									.right{

										.name{
											padding-top:10px;
										padding-bottom: 10px;
											
										}
										.weekrating{
											padding-bottom: 7px;
											
										}
										.rating{
											padding-bottom: 12px;
											
										}
									}
								}
							}
							.itemRight{
								.message{
									.mgs-left{
										.icon_ball{
											top:11px;
										}
										.titleMsg{
											margin-top:10px;
											em{
												i{
													margin-bottom:4px;
												}
											}
										}
										.recTit{
											padding-top:8px;
											padding-bottom: 12px;
										}
										.tui{
											padding-bottom: 10px;
										}
									}
								}
							}
						}
					}
					// padding-top:16px;
					&.showborder{
						border:1px solid #1fa0ff;
						background-color: #f3faff;
						ul>li{
							background-color: #f3faff;
						}
					}
					
					ul>li{
						margin-bottom: 6px !important;
						// background-color: #f3faff;
					}
					ul.moreRec{
						width:100%;
						padding-top:6px;
						// overflow-y: hidden;
						padding-bottom: 10px;
						display: none;
					}
					&.item-son{
						height: 0;
					}
					>.item-wrap{
						// height: 119px;
						// border:1px solid #ddd;
						// box-sizing: border-box;
						// box-shadow: 1px 1px 20px rgba(0,0,0,.1);
					}
					.getMore{
						display: none;
						height: 1px;
						border-top:1px solid transparent;
						width:100%;
						p{
							margin:0 auto;
							margin-top: -10px;
							background-color: #fff;
							width:162px;
							cursor:pointer;
							color:#1fa0ff;
							text-align: center;
							position: relative;
							&.active{
								color:#323232;
								background:#fff;
								
								&:before{
									background-image: url(../img/xial.png);
								}
							}
							// border:1px solid #999;
							position: relative;
							font-size: 12px;
							padding-left: 25px;
							padding-right: 5px;
							box-sizing: border-box;
							height: 20px;
							line-height: 18px;
							text-align: center;
							background:linear-gradient(to top, #fff, #f3faff);
							&:before{
								content:'';
								width: 20px;
								height: 20px;
								background-size: 20px 20px;
								display: inline-block;
								visibility: visible;
								position: absolute;
								background-color: #fff;
								background-image: url(../img/shangla.png);
								vertical-align: middle;
								position: absolute;
								left: 10px;
								top:0;

							}
							// &:after{
							// 	content:'';
							// 	width: 10px;
							// 	height: 10px;
							// 	display: inline-block;
							// 	visibility: visible;
							// 	border-radius:  50%;

							// 	position: absolute;
							// 	right:-6px;
								
							// 	border-left:1px solid #999;
							// 	background-color: #fff;
							// 	top:4px;
							// }
						}
					}
					&.haveMore{
						.getMore{
							display: block;
						}
					}
					&.active{
						.itemRight{
						.titleMsg:before{
							// background-color: #dcdcdc !important;
							}
						}

						.refund{
							display: block !important;
						}
					}
					.itemLeft{
						width: 185px;
						height: 100%;
						background-color: #fff;
						border:1px solid #ddd;
						border-right: none;
						box-shadow: 0px 5px 10px rgba(0,0,0,.05);
						i{
							display: inline-block;
							width:145px;
							height: 37px;
							line-height: 24px;
							background-image: url(../img/rate.png);
							background-repeat: no-repeat;
							top:-13px;
							left:-11px;
							font-size: 14px;
							color:#fff;
							padding-left: 10px;
							box-sizing: border-box;
							span{
								font-size: 15px;
								font-weight: 700;
							}
						}
						>.msg{
							margin-top:18px;
							.portrait{
								width: 58px;
								height: 58px;
								margin:0 auto;
								border:2px solid #1fa0ff;
								border-radius: 50%;
								img{
									width: 100%;
									height: 100%;
									border-radius: 50%;
									overflow: hidden;
								}
							}
							.right{
							
								width:100%;
								.name{
									font-size: 14px;
									color:#323232;
									height: 14px;
									width: 100px;
									margin:0 auto;
									text-align: center;
									line-height: 14px;
									padding-top:6px;
									padding-bottom: 6px;
									
									overflow: hidden;
									text-overflow:ellipsis;
									white-space: nowrap;
									
								}
								.weekrating,.rating{
									font-size: 13px;
									color:#666;
									line-height: 13px;
									text-align: center;
									span{
										color:#e4504d;
									}
								
								}
								.weekrating{
									padding-bottom: 4px;
								}
								.rating{
									padding-bottom: 6px;
								}
							}
						}

					}
					.itemRight{
						width: 570px;
						border:1px solid #ddd;
						background-color: #fff;
						box-shadow: 0px 5px 10px rgba(0,0,0,.05);
						.message{
					width: 570px;
					position: relative;
					i.icon_ball{
						display: inline-block;
						width:22px;
						height: 22px;
						position: absolute;
						top:18px;
						left: 10px;
						z-index: 10;
						border-top-right-radius: 11px;
						border-bottom-right-radius: 11px;
						background-color: #fff;
						border-right:1px solid #b9dbf2;
						background-image: url(../img/zuqiu.png);
						background-size: 22px 22px;
						background-repeat: no-repeat;
						padding-right: 4px;
						text-indent: -15px;
						font-size: 12px;
						color:#1fa0ff;
						line-height: 22px;
						margin-left: 5px;
					}
					.titleMsg{
						display: inline-block;
						margin-top:17px;
						margin-left: 35px;
						white-space: nowrap;
						
								// padding-right: 10px;
								// width: 353px;
								// border:1px solid #b9dbf2;
								
								font-size: 12px;
								line-height: 22px;
								color:#323232;
								position: relative;
								vertical-align: middle;
								// padding-left: 5px;
								em{
									display: block;
									line-height: 22px;
									vertical-align: middle;
									i{
										height: 24px;
										display: block;
										line-height: 21px;
										vertical-align: middle;
									}
								}
								span{
									display: inline-block;
									height: 22px;
									line-height: 22px;
									font-size: 14px;
									padding:0 0 0 10px;
									background-color: #dcedf8;
									border-top: 1px solid #a5cde8;
									border-bottom: 1px solid #a5cde8;
									vertical-align: middle;

									&.first{
										border-right: 1px solid #a5cde8;
										padding:0 5px;
										margin-right: 2px;
										padding-left: 10px;
										// border:1px solid #b9dbf2;

									}
									&.second{
										border-left: 1px solid #a5cde8;
										
									}
									&.thrid{
										max-width: 300px;
										overflow: hidden;
										text-overflow:ellipsis;
										white-space: nowrap;
										vertical-align: middle;
									}
									&.forth{
										padding-right: 10px;
										border-right: 1px solid #a5cde8;
									}
								}
							}
							.recTit{
								font-size: 26px;
								height: 26px;
								line-height: 26px;
								width: 410px;
								padding:23px 0 23px 15px;
								overflow: hidden;
								text-overflow:ellipsis;
								white-space: nowrap;
							}
							.tui{
								height: 14px;
								// line-height: 36px;
								font-size: 14px;
								padding-left: 15px;
								font-size: 14px;
								line-height: 14px;
								padding-bottom: 15px;
								color:#323232;
								.refund{
									padding-right: 10px;
									border-right: 1px solid #ddd;
									margin-right:10px;
									i{
										display: inline-block;
										width: 14px;
										height: 14px;
										line-height: 14px;
										background-size:14px 14px;
										background-image: url(../img/tui.png);
										vertical-align: text-bottom;
										margin-right: 5px;
										margin-bottom: 1px;
									}
								}
								.releasstime{
									padding-right: 10px ;
									border-right: 1px solid #ddd;
								}
								.price{
									// font-size: 16px;
									padding-left: 10px;
									color:#f57b04 ;
									font-weight: 600;
									font-style: oblique;
								}
							}
							.msg-right{
								width: 130px;
								
								bottom:16px;
								right:0px;
								.buyBtn{
									button{
										width: 108px;
										height: 34px;
										cursor:pointer;
									// margin-right: 28px;
									background-color: #f57b04;
									text-align: center;
									border-radius: 4px;
									color:#fff;
									font-size: 16px;
									&.detail{
										background-color: #1fa0ff;
									}
								}
								.count{
									font-size: 14px;
									width: 108px;
									text-align: center;
									padding-top:2px;
									color: #999;
								}
								
							}
						}
						.result{
							right:150px;
							bottom:20px;
							width: 73px;
							height: 73px;
							background-size: 73px 73px;
							background-repeat: no-repeat;
							&.zhong{
								background-image: url(../img/zhong.png);
							}
							&.failed{
								background-image: url(../img/fail.png);
							}
							&.zou{
								background-image: url(../img/zou.png);
							}
							
						}
					}
					}
				}
			}
		}
		}
	}
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	top:0;
	left: 0;
	z-index: 200 ;
	display: none;
	&.active{
		display: block;

	}
	.msgbox-tips,.msgbox-pay,.msgbox-phno,.msgbox-counter,.msgbox-confirm{
		width: 478px;
		position:fixed;
		top:50%;
		left: 50%;
		transform:translate(-50%,-50%);
		-webkit-trasnform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		-o-transfrom:translate(-50%,-50%);
		border-radius: 4px;
		z-index: 500;
		overflow: hidden;
		.title{
			height: 48px;
			width: 468px;
			line-height: 48px;
			padding-left: 10px;
			font-size: 24px;
			color:#fff;
			font-size: 18px;
			background-color: #1fa0ff;
			color:#fff;
			.close{
				display: inline-block;
				width: 16px;
				height: 16px;
				background-image: url(../img/bigclose.png);
				background-size: 16px 16px;
				float: right;
				margin-right: 20px;
				margin-top:16px;
				cursor: pointer;
			}
		}
		.content{
			background-color: #fff;
			.count{
				height: 24px;
				line-height: 24px;
				font-size: 24px;
				text-align: center;
				padding-top:50px;
				color:#323232;
			}
			.return{
				corlor:#ff3f54;
				font-size: 16px;
				padding-top:20px;
				padding-bottom: 50px;
				text-align: center;
				.tui{
					display: inline-block;
					width: 18px;
					height: 18px;
					background-image: url(../img/tui-da.png);
					background-size: 18px 18px;
					vertical-align: text-bottom;
					margin-right: 6px;
					background-repeat: no-repeat;
				}
			}
			.confirm,.cancel{
				display: inline-block;
				width: 108px;
				height: 36px;
				background-color: #1fa0ff;
				text-align: center;
				line-height: 36px;
				color:#fff;
				font-size:16px;
				margin-bottom: 50px;
				margin-left: 100px;
				cursor:pointer;
				border-radius: 4px;
			}
			.cancel{
				margin-left: 80px;
			}
		}
		
	}
	.msgbox-pay{
		// margin-top:-307px;
		overflow: hidden;
		transform:translate(-50%,-50%);
		// display: block;
		z-index:400;
		.content-money{
			width: 100%;
			background-color: #fff;
			
			.count{
				font-size: 18px;
				color:#323232;
				height: 20px;
				line-height: 20px;
				padding-top:50px;
				padding-bottom: 30px;
				text-align: center;
				position: relative;
				.icon-tips{
					display: inline-block;
					width: 30px;
					height: 30px;
					background-image: url(../img/big.png);
					background-size: 30px 30px;
					position: absolute;
					top:44px;
					left: 140px;
				}
				a{
					text-decoration: underline;
					color: #1fa0ff;
				}
			}
			.return{
				font-size: 24px;
				height: 24px;
				line-height: 24px;
				padding-bottom: 30px;
				text-align: center;
			}
			.zfb,.wx{
				display: inline-block;
				// width: 122px;
				height: 38px;
				line-height: 38px;
				// border:1px solid #1fa0ff;
				border:1px solid #999;
				border-radius:4px;
				margin-left: 73px;
				// text-align: center;
				// padding-left: 46px;
				// padding-right: 26px;
				width: 78px;
				text-align: left;
				margin-bottom: 40px;
				position: relative;
				padding-left: 46px;
				cursor: pointer;
				font-size:14px;
				color:#3ca538;
				&.active{
					// border-color: #1fa0ff;
					// width: 76px;
					border:1px solid #1fa0ff;
					.choose{
						visibility: visible;
					}
				}
				.icon-wx{
					display: inline-block;
					width: 26px;
					height: 26px;
					background-image: url(../img/wei--icon.png);
					position: absolute;
					margin-right: 10px;
					top:50%;
					margin-top: -13px;
					left:10px;
				}
				.choose{
					display: inline-block;
					width: 26px;
					height: 23px;
					background-image: url(../img/gou.png);
					position: absolute;
					right: 0;
					bottom: -1px;
					visibility: hidden;
				}
			}
			.zfb{
				margin-left: 50px;
				padding-right: 10px;
				color:#41a9e0;
				.icon-zfb{
					display: inline-block;
					width: 26px;
					height: 26px;
					background-image: url(../img/zhi--icon.png);
					position: absolute;
					top:50%;
					margin-top:-13px;
					left:12px;
				}
			}
			.price{
				text-align: center;
				font-size: 36px;
				height: 36px;
				line-height: 36px;
				color: #323232;
				padding-bottom: 15px;
			}
			.code{
				width:  238px;
				height: 238px;
				margin-bottom: 7px;
				// background-color: #ccc;
				margin-left: 120px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.tipsword{
				display: none;
				font-size: 14px;
				color:#323232;
				text-align: center;
				padding-bottom: 35px;
				&.active{
					display: block;
				}
			}
		}
	}
	.msgbox-phno,.msgbox-counter{
		.content{
			text-align: center;
			.tips-word{
				font-size: 24px;
				text-align: center;
				height: 80px;
				line-height: 80px;
				color:#323232;
			}
			.tips-qipao{
				padding:0 10px;
				height: 34px;
				background-color: #fff;
				border:1px solid #ddd;
				line-height: 34px;
				border-radius: 4px;
				box-shadow: 1px 1px 20px rgba(0,0,0,.1),
						-1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1);
				// background-image: url(../img/bigtips.png);
				top:35px;
				left: 110px;
				// line-height: 45px;
				color:#666;
				.icon-tips{
					display: inline-block;
					width: 20px;
					height: 20px;
					background-size: 20px 20px;
					background-image: url(../img/big.png);
					vertical-align: text-bottom;
					margin-right: 10px;
				}
				.icon-close{
					display: inline-block;
					width: 15px;
					height: 15px;
					background-size: 15px 15px;
					background-image: url(../img/bigclosehui.png);
					vertical-align: text-bottom;
					margin-left: 10px;
					cursor: pointer;

				}
				.icon-tri{
					display: inline-block;
					width: 28px;
					height: 9px;
					background-size: 28px 9px;
					margin-top:33px;
					margin-left: -120px;
					background-image: url(../img/tri-down.png);
					position: absolute;
				}
			}
			.phno,.verifycode{
				height: 44px;
				line-height: 44px;
				font-size: 16px;
				padding-left: 16px;
				width:362px;
				background-color: #f4f4f4;
				border-radius: 4px;
				margin-bottom: 20px;
				border:1px solid #d1d1d1;
			}
			.verifycode{
				width: 224px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
			}
			.verify-word{
				display: inline-block;
				color:#fff;
				width: 139px;
				height: 44px;
				line-height: 44px;
				background-color: #1fa0ff;
				
				cursor:pointer;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border:1px solid #1fa0ff;
				border-left: none;
			}
			.confirm{
				width:380px;
				height: 48px;
				line-height: 48px;
				text-align: center;
				margin-left: 0;
				border-radius: 4px;
				font-size: 20px;
				letter-spacing: 8px;
				margin-bottom: 0;
			}
			.count-login,.count-reg{
				display: inline-block;
				width:96px;
				height: 32px;
				line-height: 32px;
				margin-bottom: 56px;
				a{
					display: inline-block;
					width: 100%;
					height: 100%;
					color:#797979;
					text-align: center;
					font-size: 16px;
				}
			}
			.count-login{
				margin-right: 188px;
			}
		}
	}
	.msgbox-counter{
	.content{
		.tips-qipao{
			top:-10px;
		}
		.phno{
			margin-top:40px;
		}
		.verifycode{
			width:362px;
			margin-bottom: 40px;
			border-radius: 4px;
			border-right:1px solid #d1d1d1;
		}
	}
	}
	.msgbox-confirm{
		.content{
			p{
				padding-top:88px;
				padding-bottom: 80px;
				font-size: 30px;
				color:#323232;
				text-align: center;
			}
			.confirm{
				width: 380px;
				height: 48px;
				text-align: center;
				line-height: 48px;
				color:#fff;
				margin-left: 50px;
				a{
					color:#fff;
					font-size: 20px;
				}
			}
		}
	}
}


.mode {
	label.active{
		span.inputradio{
			background-image: url(../img/xuanzhong2.png);
		}
	}
	input{
		opacity: 0;
	}
	span.inputradio{
		width: 12px;
		height: 12px;
		background-size: 12px 12px;
		background-image: url(../img/bef.png);
		background-repeat: no-repeat;
		background-position:  center;
	}

}
.titleBar {
	#select{
	opacity: 0;

}
.refund{
	  display: inline-block;
  width: 110px;
  margin-right: 13px;
  cursor:pointer;
	&.active{
		span.inputradio{
			background-image: url(../img/11.png);
		}
	}
	span.inputradio{
		width: 14px;
		height: 12px;
		background-size: 14px 12px;
		background-image: url(../img/12.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}

	}
	
.main .content > .fr > .titleBar .gameplay{
	margin-right:40px;
}



.except{
	width: 100%;
	height:500px;
	text-align: center;
	color:#1fa0ff;
	padding-top:150px;
	font-size: 16px;
	img{
		width: 250px;
		height: 280px;
	}
	div{
		padding-top:30px;
	}
	p{
		line-height: 24px;
		a{
			color:#1fa0ff;
			font-weight: 700;
			padding-left: 5px;
			i{
				display: inline-block;
				width: 12px;
				height: 12px;
				background-size: 12px 12px;
				background-repeat: no-repeat;
				background-image: url(../img/more.png);
				padding-left: 5px;
				background-position: right;
			}
		}
	}
}

li.fcolor{
	.itemLeft{
		background-color: #f1f2f1 !important;
	}
	.itemRight{
		

	background-color:#f1f2f1 !important;
	}
}
li.scolor{
	.itemLeft{
		background-color: #fef6f5 !important;
	}
	.itemRight{
		

	background-color:#fef6f5 !important;
	}
}
li.zcolor{
	.itemLeft{
		background-color: #ecf6f1 !important;
	}
	.itemRight{
		

	background-color:#ecf6f1 !important;
	}
}





// 新增

.main .content > .fr > .recItems > ul > li{
	margin-bottom: 26px;
}


.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.thrid{
	max-width: 300px;
}


.main .content > .fr > .recItems > ul > li .itemRight .message .msg-right .buyBtn button{
	border-radius: 2px;
}

//解决绝对定位无法超过父元素宽度

.main .content > .fl .personalCenter .msg-err{
	white-space: nowrap;
}


.main .content > .fl .personalCenter .content .personalBtn a .tips-name, .main .content > .fl .personalCenter .content .applyBtn a .tips-name{
	white-space:nowrap;
	width: auto;
}
.mode input{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.titleBar #select{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em{
	overflow:hidden;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em i{
	overflow:hidden;
}
// .mask{
// 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
// }
.main .subnav .fr div .txt{
	line-height: 24px;
}
.mask .msgbox-phno .content .phno:focus{
	border-color:#1fa0ff;
}
 .mask .msgbox-counter .content .phno:focus{
	border-color:#1fa0ff;
	}
 .mask .msgbox-phno .content .verifycode:focus{
	border-color:#1fa0ff;
 }
 .mask .msgbox-counter .content .verifycode:focus{
	border-color:#1fa0ff;
 }
// css hack
// .main .content > .fr > .titleBar .gameplay:hover .moreGameplay{
// 	margin-top:-36px\9;
// }
// .msgbox-tips,.msgbox-phno,.msgbox-counter,.msgbox-confirm{
// 	margin-top:-137px\9;
// 		margin-left: -239px\9;
// }
// .msgbox-pay{
// 	margin-top:-250px\9;
// }
.mask .msgbox-phno .content .tips-qipao .icon-tips, .mask .msgbox-counter .content .tips-qipao .icon-tips
{
	background-image: url(../img/big2.png);
}
.mask .msgbox-phno .content .tips-qipao .icon-close, .mask .msgbox-counter .content .tips-qipao .icon-close{
	margin-bottom: 2px;
}
.main .content > .fl .personalCenter .msg-err .icon-tri{
	background-image: url(../img/tri-down3.png);
}
.main .content > .fl .personalCenter.logout .verify{
	line-height: 12px;
}


.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.thrid{
	max-width: 300px;
}


// 新增
.main .content > .fl .recommend .billboard li a .portrait .numb{
	width: 73px;
	background-repeat: no-repeat;
}
.clickMore{
	padding-top:24px;
}
.clickMore span{
	width: 146px;
	height: 38px;//修改高度
	font-size: 16px;
	display: block;
	border:1px solid #ddd;
	text-align: center;
	line-height: 38px;
	margin:0 auto;
	border-radius: 4px;
	color:#323232;
	cursor: pointer;
}
.clickMore span:hover{
	background-color: #f8f8f8;
	color:#1fa0ff;
	border-color:#1fa0ff;
}
.clickMore span:active{
	background-color: #1fa0ff;
	color:#fff;
}
// 分页样式
.pages{
	width: 230px;
	margin:0 auto;
	border:1px solid #ddd;
	border-radius: 4px;
	margin-top:20px;
}
.pages>ul{
	// width: 230px;
	height: 34px;
	
}
.pages>ul>li{
	float: left;
	width: 32px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	border-right: 1px solid #ddd;
	cursor:pointer;
}
.pages>ul>li.current{
	background-color: #1fa0ff;
	color:#fff;
}
.pages .arr-right,.pages .arr-left{
	width: 32px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	border:none;
	background-image: url(../img/arrow-right-1.png);
	background-size: 10px 9px;
	background-position: center;
	background-repeat: no-repeat;
}
.pages .arr-left{
	background-image: url(../img/arrow-left-1.png);
	border-right:1px solid #ddd;

}



// 新增8-14
.gotop{
	width: 50px;
	height: 50px;
	bottom: 96px;
	right: 100px;
	background-size: 50px 50px;
	background-image: url(../img/gototop.png);
	display: none;
}
@media screen and (max-width: 1300px) {
   .gotop{
   	display: none !important;
   }
}

.main .content > .fr > .recItems > ul > li .itemLeft{
	width: 148px;
}
.main .content > .fr > .recItems > ul > li .itemRight{
	width: 607px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg{
	margin-top: 10px;
	width: 562px;
	background-color: #f4f4f4;
}
.main .content > .fr > .recItems > ul > li .itemRight .message i.icon_ball{
	top:10px;
	border-radius: 0;
	background-color: #f4f4f4;
	border:none;
	width: 34px;
	height: 34px;
	padding-right:0;
	background-position: center;
	left:0;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span{
	background-color: #f4f4f4;
	height: 34px;
	line-height: 34px;
	border:none;
	vertical-align: top;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.thrid{
	vertical-align: top;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.second{
	border:none;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.first{
	margin-right: 0;
	height: 14px;
	line-height: 14px;
	margin-top:10px;
	border-color:#ddd;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.forth{
	border:none;
	float:right;
	padding:0;
	margin-right: 14px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em i{
	height: 34px;
	line-height: 34px;
	width: 490px;
	background-color: #f4f4f4;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .recTit{
	padding:20px 0 22px 15px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .tui{
	padding-bottom: 16px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message{
	width: 607px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em{
	width: 490px;
	background-color: #fff;
}
//修改max-width:300px;
//s删除i,em的max-width;
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.fivth{
	width: 12px;
	margin-left: 14px;
	margin-right: 10px;
	background-size: 12px 6px;
	// background-image: url(../img/down2.png);
	background-repeat: no-repeat;
	background-position: center;
	float:right;
	padding:0;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg .allItems{
	right:-10px;
	top:-10px;
	display: none;
	z-index:999;
	padding-top:10px;
	padding-bottom: 6px;
	padding-left: 10px;
	box-shadow: 1px 1px 20px rgba(0,0,0,.1),
						-1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1),
						1px 1px 20px rgba(0,0,0,.1);
	margin-left: 10px;
	width:480px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg:hover .allItems{
	display: block;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg .allItems i{
	width: 470px;
	margin-bottom: 4px;
}
.allItems i:first-child span.fivth{
	background-image: url(../img/up2.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.allItems span.fivth{
	background: none !important;
}


.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.second,
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.thrid{
	float:left
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.forth{
	margin-right: 0;
}

// 新增
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg {
	display: -webkit-box; 
    display: -moz-box; 
    display:-webkit-flex;
    display: -ms-flexbox;
    display:flex;

}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em {
	flex:1;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg em i{
	width: 100%;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.thrid{
	max-width: 297px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.fivth.active{
	background-image: url(../img/down2.png);
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.fivth{
	margin-right: 10px;
	margin-left: 0;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.forth{
	margin-right: 14px;
}


// 新增

.main .content > .fr > .recItems > ul > li{
	margin-bottom: 20px;
}
.main .content > .fr > .recItems > ul > li .itemLeft > .msg .portrait{
	border:none;
	width: 54px;
	height: 54px;
}
.main .content > .fr > .recItems > ul > li .itemLeft > .msg .right .rating{
	padding-bottom: 10px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message i.icon_ball{
	left: 5px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .recTit{
	height: 28px;
	line-height: 28px;
	font-size: 28px;
	padding:20px 0 20px 15px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .tui{
	padding-bottom: 12px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .result{
	bottom: 12px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .msg-right{
	width:128px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .msg-right .buyBtn button{
	height: 36px;
	line-height: 36px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .msg-right .buyBtn .count{
	padding-top:4px;
}
.main .content > .fr > .recItems > ul > li .itemRight .message .titleMsg span.forth{
	color:#666;
}
.main .content > .fl .recommend .billboard li a .portrait{
	width: 54px;
	height: 54px;
	border:none;
}
.main .content > .fl .recommend .billboard li a .portrait .number{
	top:36px;
	left:0px;
	border-width: 2px;
}