<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>竞彩推荐</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet/less" href="../css/home.less">
	<link rel="stylesheet/less" href="../css/billboard.less">
	<!-- <link rel="stylesheet" href="../css/home.css"> -->
	<!-- <link rel="stylesheet" href="../css/billboard.css"> -->

	<script src="https://cdn.bootcss.com/less.js/2.5.2/less.min.js"></script>
</head>
<body>
	<div class="header wrap clearfix ">
	</div>
	<div class="nav">
		<div class="wrap clearfix pr">
			<div class="logo fl"></div>
			<ul class='clearfix pa'>
				<li><a href="javascript:void(0);" class='active'>今日情报</a></li>
				<li><a href="javascript:void(0);">竞彩足球</a></li>
				<li><a href="javascript:void(0);">竞彩篮球</a></li>
				<li><a href="javascript:void(0);">角球比分</a></li>
				<li><a href="javascript:void(0);">足球指数</a></li>
				<li><a href="javascript:void(0);">完场统计</a></li>
				<li><a href="javascript:void(0);">专家推介</a></li>
				<li><a href="javascript:void(0);">水位统计</a></li>
				<li><a href="javascript:void(0);">联赛资料</a></li>
			</ul>
		</div>
	</div>
	<div class="main wrap">
		<div class="subnav clearfix">
			<div class="fl">
				<div class="recommend-title">
					<a href="javascript:void(0);" class='active'>推荐市场</a>
				</div><div class="billboard">
					<a href="javascript:void(0);" >排行榜</a>
				</div>
			</div>
			<div class="fr">
				<div>
					<input type="text" placeholder="请输入专家昵称" class='txt'><button class='search'></button>
				</div>	
			</div>
		</div>
		<div class="content clearfix">
			<div class="bill-header">
				<span class='active' id='rating'>盈利率排行</span><span id='hit'>命中率排行</span><span id='red'>连红排行</span><span id='attention'>关注排行</span>
			</div>
			<div class='bill-content active'>
				<div class="bill-select clearfix">
				<div class="fl pr">
				<span class="date pr"><span class='word'>近7天</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>近7天<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">近1个月</a></li>
					<li><a href="javascript:void(0);">近3个月</a></li>
				</ul>
				</span>
				
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>竞彩单关</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>竞彩单关<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">竞彩双关</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
				</ul>
					</span>
				</div>
				
			</div>
			<div class="bill-title">
				<span class='pr-name'>专家</span><span class='pr-intr'>简介</span><span class='pr-rec'>推荐指数</span><span class='pr-win'>盈利率</span><span class='pr-change'>变化</span>
			</div>
			<ul class='bill-items'>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i class='icon-hat'></i><img src="../img/co.jpg" alt="用户头像"><i class='icon-bill'></i> <i class='icon-no'>1</i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i class='icon-hat'></i><img src="" alt="用户头像"><i class='icon-bill'></i ><i class='icon-no'></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>90.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i class='icon-hat no1'></i><img src="" alt="用户头像"><i class='icon-bill'></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i class='icon-hat no1'></i><img src="" alt="用户头像"><i class='icon-bill'></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				
			</ul>
			</div>
			<div class='bill-content '>
				<div class="bill-select clearfix">
				<div class="fl pr">
				<span class="date pr"><span class='word'>近7天</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>近7天<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">近1个月</a></li>
					<li><a href="javascript:void(0);">近3个月</a></li>
				</ul>
				</span>
				
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>竞彩单关</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>竞彩单关<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">竞彩双关</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
				</ul>
					</span>
				</div>
				
			</div>
			<div class="bill-title">
				<span class='pr-name'>专家</span><span class='pr-intr'>简介</span><span class='pr-rec'>推荐指数</span><span class='pr-win'>命中率</span><span class='pr-change'>变化</span>
			</div>
			<ul class='bill-items'>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl down'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				
			</ul>
			</div>
			<div class='bill-content '>
				<div class="bill-select clearfix">
				<div class="fl pr">
				<span class="date pr"><span class='word'>近7天</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>近7天<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">近1个月</a></li>
					<li><a href="javascript:void(0);">近3个月</a></li>
				</ul>
				</span>
				
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>竞彩单关</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>竞彩单关<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">竞彩双关</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
				</ul>
					</span>
				</div>
				
			</div>
			<div class="bill-title">
				<span class='pr-name'>专家</span><span class='pr-intr'>简介</span><span class='pr-rec'>推荐指数</span><span class='pr-win'>连红率</span><span class='pr-change'>变化</span>
			</div>
			<ul class='bill-items'>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl down'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				
			</ul>
			</div>
			<div class='bill-content '>
				<div class="bill-select clearfix">
				<div class="fl pr">
				<span class="date pr"><span class='word'>近7天</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>近7天<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">近1个月</a></li>
					<li><a href="javascript:void(0);">近3个月</a></li>
				</ul>
				</span>
				
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>竞彩单关</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>竞彩单关<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">竞彩双关</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
					<li><a href="javascript:void(0);">大小球</a></li>
				</ul>
					</span>
				</div>
				
			</div>
			<div class="bill-title">
				<span class='pr-name'>专家</span><span class='pr-intr'>简介</span><span class='pr-rec'>推荐指数</span><span class='pr-win'>关注人数</span><span class='pr-change'>变化</span>
			</div>
			<ul class='bill-items'>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl up'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				<li class='clearfix  '>
					<a href="javascript:void(0);" class='portrait fl '><i></i><img src="" alt="用户头像"><i></i><p>看球专家</p></a>
					<div class='item-intr fl'>
						<div ><p>这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介这是简介简介简介</p></div>
					</div>
					
					<span class='recIndex fl'>99</span>
					<span class='win fl'>9           0.0%</span>
					<span class='changelast fl down'></span>
					<div class='fl attention'>
						<a href="javascript:void(0);" class='attBtn'>关注</a>
					</div>
					
				</li>
				
			</ul>
			</div>
			
		</div>
	</div>

	<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src='../js/homepage.js'></script>
	<script src="../js/billboard.js"></script>
</body>
</html>