<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>竞彩推荐</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet/less" href="../css/home.less">
	<link rel="stylesheet/less" href="../css/detail.less">
	<!-- <link rel="stylesheet" href="../css/home.css">
	<link rel="stylesheet" href="../css/detail.css"> -->
	<script src="https://cdn.bootcss.com/less.js/2.5.2/less.min.js"></script>
</head>
<body>
	<div class="layout">
		<div class="container">
			<div class="header wrap clearfix">
	</div>
	<div class="nav">
		<div class="wrap clearfix pr">
			<div class="logo fl"></div>
			<ul class='clearfix pa'>
				<li><a href="javascript:void(0);" class='active'>今日情报</a></li>
				<li><a href="javascript:void(0);">竞彩足球</a></li>
				<li><a href="javascript:void(0);">竞彩篮球</a></li>
				<li><a href="javascript:void(0);">角球比分</a></li>
				<li><a href="javascript:void(0);">足球指数</a></li>
				<li><a href="javascript:void(0);">完场统计</a></li>
				<li><a href="javascript:void(0);">专家推介</a></li>
				<li><a href="javascript:void(0);">水位统计</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料</a></li>
			</ul>
		</div>
	</div>
	<div class="main wrap">
		<div class="subnav clearfix">
			<div class="fl">
				<div class="recommend-title">
					<a href="javascript:void(0);" class='active'>推荐市场</a>
				</div><div class="billboard">
					<a href="javascript:void(0);" >排行榜</a>
				</div>
			</div>
			<div class="fr">
				<div>
					<input type="text" placeholder="请输入专家昵称" class='txt'><button class='search'></button>
				</div>	
			</div>
		</div>
		<div class="content clearfix">
			<div class="fl">
				<div class="case-pre">
					<div class="header">方案专家</div>
					<div class="content">
						<div class="msg clearfix">
							<div class="portrait ">
								<div class="portrait-wrap">
									<img src="../img/co.jpg" alt="用户头像">
								</div>
								
								<p class='per-name'>专家名称</p>
								<p class='per-intr'>这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这这是简介这是简介这这是简介这是简介这是简介</p>
							</div>
							
						</div>
						<div class="grid clearfix">	
							<div class="case-no fl">
								<p>36</p>
								<span>方案</span>
							</div>
							<div class="care-no fl">
								<p>36</p>
								<span>粉丝</span>
							</div>
							<div class="rate-no fl">
								<p>70%</p>
								<span>近5场中3场</span>
							</div>
							<div class="max-no fl">
								<p>12</p>
								<span>最大连红数</span>
							</div>
						</div>
						
					</div>
				</div>
			
				<div class="recommend">
					<div class="title">推荐专家</div>
					<ul class= 'billboard'>
						<li class='firstLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100.0%</i></span>
								</div>
							</a>
						</li>
						<li class='secondLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li class='thridLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>-1000.2%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>4</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>5</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>6</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="fr">
				<div class="content success jcdg ">
					<div class="detail-header">
						方案详情
					</div>
					<div class="detail-title">
						<h3>巴西杯大小必杀</h3>
					</div>
					<div class="detail-content clearfix">
						<div class='detail-item'>
							<p class='detail-msg'><span class='detail-start'>未开始</span><span class='detail-type'>竞彩单关</span><span class='detail-lian'>韩K联</span> <span class='detail-teamsg'>周三007格雷米奥vs奥瓦</span><span class='detail-date'>6-28</span><span class='detail-time'>18:30</span></p>
						<div class='clearfix detail-msg-wrap'>
						<div class='team-left fl'>
							<p class='rang'>让球</p>
							<p class='rangnum'>-1</p>
						</div>
						<div class="team-right fl">
							<div class="teamMsg clearfix">
							<div class="homeTeam  fl">
								<div class="homeTeam-wrap">
									<img src="../img/co.jpg" alt="">
								</div>
								
								<div class="teamName">球队名称</div>
							</div>
							<div class="vs fl"><span>vs</span><i>半场：1:2</i></div>
							<div class="visitTeam fl">
							<div class="visitTeam-wrap">
								<img src="../img/co.jpg" alt="">
							</div>
								
								<div class="teamName">球队名球队</div>
							</div>
						</div>
						<div class="teamRate clearfix">
							<div class="homeWin selling   fl">
								<p>主胜</p>
								<span>0.86</span>
								<i class='icon-rec'></i>
							</div>
							<div class="teamMth fl failed">
								 <p>盘口</p>
								 <span>球半</span>
								 <i class='icon-rec'></i>
							</div>
							<div class="visitWin fl zou">
								<p>主胜</p>
								<span>0.86</span>
								<i class='icon-rec '></i>     
							</div>
						</div>
						</div>
						</div>
						</div>
						<div class='detail-item'>
							<p class='detail-msg'><span class='detail-start'>未开始</span><span class='detail-type'>竞彩单关</span><span class='detail-lian'>韩K联</span> <span class='detail-teamsg'>周三007格雷米奥vs奥瓦</span><span class='detail-date'>6-28</span><span class='detail-time'>18:30</span></p>
						<div class='clearfix detail-msg-wrap'>
						<div class='team-left fl'>
							<p class='rang'>让球</p>
							<p class='rangnum'>-1</p>
						</div>
						<div class="team-right fl">
							<div class="teamMsg clearfix">
							<div class="homeTeam  fl">
								<div class="homeTeam-wrap">
									<img src="../img/co.jpg" alt="">
								</div>
								
								<div class="teamName">球队名称</div>
							</div>
							<div class="vs fl">vs</div>
							<div class="visitTeam fl">
							<div class="visitTeam-wrap">
								<img src="../img/co.jpg" alt="">
							</div>
								
								<div class="teamName">球队名球队</div>
							</div>
						</div>
						<div class="teamRate clearfix">
							<div class="homeWin selling win  fl">
								<p>主胜</p>
								<span>0.86</span>
								<i class='icon-rec'></i>
							</div>
							<div class="teamMth fl failed">
								 <p>盘口</p>
								 <span>球半</span>
								 <i class='icon-rec'></i>
							</div>
							<div class="visitWin fl zou">
								<p>主胜</p>
								<span>0.86</span>
								<i class='icon-rec '></i>     
							</div>
						</div>
						</div>
						</div>
						</div>
						<div class='wording'>
							<p class='paybef'><i class='border-left'></i>支付后显示推荐理由<i class='border-right'></i></p>
							<p class='recTitle'><span>标题: </span> <span>内容内容内容内容内容内容内容内容内容</span></p>
							<p class='recReason'><span class='fistSpan'>推荐理由:</span>  <span class='lastSpan'>这是理由这是理由这是理由理由这内容内容内容内容内容内容是理由理理由这</span></p>
							
						</div>
						<p class='fr purchase'>查看推介需支付: <span class='price'>55球币</span><span class='buyBtn'>购买</span><span class='purchaseNum'>已有30人购买</span></p>
						<i class='icon-result '></i>
						
					</div>
					<div class="sellMsg">
							<div class="sellHeader">
								<p>购买用户: <span>2</span>人购买 <span>20</span>球币</p>
							</div>
							<table>
								<tr>
									<th>购买时间</th>
									<th>购买球币</th>
									<th>用户名</th>
								</tr>
								<tr>
									<td>2017-07-13 14:40:16</td>
									<td>10</td>
									<td>小兵张嘎</td>
								</tr>
								<tr>
									<td>2017-07-13 14:40:16</td>
									<td>10</td>
									<td>小兵张嘎</td>
								</tr>
							</table>

						</div>
				</div>
				
			</div>
		</div>
	</div>
		</div>
	</div>
	<!-- <div class="mar_t15"></div> -->
	
	<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src='../js/homepage.js'></script>
</body>
</html>