<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>竞彩推荐</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet/less" href="../css/home.less">
	<link rel="stylesheet/less" href="../css/detail.less">
	<!-- <link rel="stylesheet" href="css/home.css"> -->
	<script src="https://cdn.bootcss.com/less.js/2.5.2/less.min.js"></script>
</head>
<body>
	<div class="layout">
		<div class="container">
			<div class="header wrap clearfix">
	</div>
	<div class="nav">
		<div class="wrap clearfix pr">
			<div class="logo fl"></div>
			<ul class='clearfix pa'>
				<li><a href="javascript:void(0);" class='active'>今日情报</a></li>
				<li><a href="javascript:void(0);">竞彩足球</a></li>
				<li><a href="javascript:void(0);">竞彩篮球</a></li>
				<li><a href="javascript:void(0);">角球比分</a></li>
				<li><a href="javascript:void(0);">足球指数</a></li>
				<li><a href="javascript:void(0);">完场统计</a></li>
				<li><a href="javascript:void(0);">专家推介</a></li>
				<li><a href="javascript:void(0);">水位统计</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料</a></li>
			</ul>
		</div>
	</div>
	<div class="main wrap">
		<div class="subnav clearfix">
			<div class="fl">
				<div class="recommend-title">
					<a href="javascript:void(0);" class='active'>推荐市场</a>
				</div><div class="billboard">
					<a href="javascript:void(0);" >排行榜</a>
				</div>
			</div>
			<div class="fr">
				<div>
					<input type="text" placeholder="请输入专家昵称" class='txt'><button class='search'></button>
				</div>	
			</div>
		</div>
		<div class="content clearfix">
			<div class="fl">
				<div class="case-pre">
					<div class="header">方案专家</div>
					<div class="content">
						<div class="msg clearfix">
							<div class="portrait ">
								<img src="" alt="用户头像">
								<p class='per-name'>专家名称</p>
								<p class='per-intr'>这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介这是简介</p>
							</div>
							
						</div>
						<div class="case-no">
							<p>36</p>
							<p>方案</p>
						</div>
						<div class="care-no">
							<p>36</p>
							<p>粉丝</p>
						</div>
						<div class="rate-no">
							<p>70%</p>
							<p>近5场中3场</p>
						</div>
						<div class="max-no">
							<p>12</p>
							<p>最大连红数</p>
						</div>
					</div>
				</div>
			
				<div class="recommend">
					<div class="title">推荐专家</div>
					<ul class= 'billboard'>
						<li class='firstLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100.0%</i></span>
								</div>
							</a>
						</li>
						<li class='secondLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li class='thridLi'>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='numb'></i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>4</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>5</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class ='clearfix'>
								<span class="portrait fl">
									<img src="img/co.jpg" alt="用户头像">
									<i class='number'>6</i>
								</span>
								<div class='fl message'>
									<span class='position'>看球专家</span>
									<span class='rate'>盈利率:<i>100%</i></span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="fr">
				<div class="titleBar clearfix">
					<div class='gameplay fl pr'>
						<a href="javascript:void(0);"><span class='pth'>全部玩法</span><span class='icon-down'></span></a>
						<ul class='pa moreGameplay'>
							<li><a href="javascript:void(0);" class='active'><span class='methods'>全部玩法</span><span class='icon-up icon-place'></span></a></li>
							<li><a href="javascript:void(0);"><span class='methods'>大小球</span><span class="icon-place"></span></a></li>
							<li><a href="javascript:void(0);"><span class='methods'>亚盘</span><span class="icon-place"></span></a></li><li><a href="javascript:void(0);"><span class='methods'>亚盘大小球</span><span class="icon-place"></span></a></li>
							
							
						</ul>
					</div>
					<form action="" class='mode'>
					<label for="win">
						<input type="radio" name="select" id="win" checked="checked">盈利
					</label>
					<label for="rating">
						<input type="radio" name="select" id="rating" >命中率
					</label>
					<label for="last">
						<input type="radio" name="select" id="last" >最新
					</label>
					<label for="price">
						<input type="radio" name="select" id="price" >价格
					</label>
					</form>
					<label for="select" class='fr refund'>
					<input type="checkbox" name="" id="select" >只看不中就退</label>	
				</div>
				<div class="recItems">
					
					
				</div>
				
			</div>
		</div>
	</div>

	<div class="mask pf">
		<div class="msgbox-tips">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<p class='count'>您将花费<span>8</span>球币购买该专家的比赛推荐</p>
				<p class='return'><i class='tui'></i>此单支持不中就退</p>
				<span class='confirm'>确定</span>
				<span class='cancel'>取消</span>
			</div>
			
		</div>
		<div class="msgbox-pay">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content-money">
				<p class='count'><i class='icon-tips'></i>余额不足请<a href="">充值</a></p>
				<p class='return'>您也可以直接扫码支付</p>
				<span class='wx chooseBtn active'><i class='icon-wx'></i>微信支付<i class='choose '></i></span>
				<span class='zfb chooseBtn'><i class='icon-zfb'></i>支付宝支付<i class='choose'></i></span>
				<p class='price'>￥2.00</p>
				<div class="code">
					
				</div>
				<p class='tipsword zfb-tip '>请使用手机支付宝扫描</p>
				<p class='tipsword wx-tip active'>请使用微信扫描</p>
			</div>
		</div>
		<div class="msgbox-phno">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<p class='tips-word'>输入手机号，即可免登陆购买</p>
				<input type="text" name="" id="" class='phno' placeholder="请输入手机号">
				<input type="text" name="" id="" class='verifycode' placeholder="请输入验证码"><span class='verify-word'>发送验证码</span>
				<span class='confirm'>确定</span>
				<span class='count-login'><a href="javascript:void(0);">账号登录</a></span>
				<span class='count-reg'><a href="javascript:void(0);">立即注册</a></span>
			</div>
			
		</div>
		<div class="msgbox-counter">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<input type="text" name="" id="" class='phno' placeholder="请输入账号">
				<input type="text" name="" id="" class='verifycode' placeholder="请输入密码">
				<span class='confirm'>登录</span>
				<span class='count-login'><a href="javascript:void(0);">免登录</a></span>
				<span class='count-reg'><a href="javascript:void(0);">立即注册</a></span>
			</div>
		</div>
	</div>
		</div>
	</div>
	<!-- <div class="mar_t15"></div> -->
	
	<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<script src="../js/common.js"></script>
	<script src='../js/homepage.js'></script>
</body>
</html>