<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>竞彩推荐</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet/less" href="../css/home.less">
	<!-- <link rel="stylesheet" href="../css/home.css"> -->
	<link rel="stylesheet/less" href="../css/newcase.less">
	<link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
	<!-- <link rel="stylesheet" href="../css/newcase.css"> -->
	<script src="https://cdn.bootcss.com/less.js/2.5.2/less.min.js"></script>
	
</head>
<body>
	<div class="layout">
		<div class="container">
			<div class="header wrap clearfix">
	</div>
	<div class="nav">
		<div class="wrap clearfix pr">
			<div class="logo fl"></div>
			<ul class='clearfix pa'>
				<li><a href="javascript:void(0);" class='active'>今日情报</a></li>
				<li><a href="javascript:void(0);">竞彩足球</a></li>
				<li><a href="javascript:void(0);">竞彩篮球</a></li>
				<li><a href="javascript:void(0);">角球比分</a></li>
				<li><a href="javascript:void(0);">足球指数</a></li>
				<li><a href="javascript:void(0);">完场统计</a></li>
				<li><a href="javascript:void(0);">专家推介</a></li>
				<li><a href="javascript:void(0);">水位统计</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料联赛</a></li>
				<li><a href="javascript:void(0);">联赛资料</a></li>
			</ul>
		</div>
	</div>
	<div class="main wrap">
		<div class="subnav clearfix">
			<div class="fl">
				<div class="recommend-title">
					<a href="javascript:void(0);" class='active'>推荐市场</a>
				</div><div class="billboard">
					<a href="javascript:void(0);" >排行榜</a>
				</div>
			</div>
			<div class="fr">
				<div>
					<input type="text" placeholder="请输入专家昵称" class='txt'><button class='search'></button>
				</div>	
			</div>
		</div>
		<div class="content">
			<div class="choose clearfix">
				<div class='fl'>
					<span class='sel'>竞彩单关</span>
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>亚盘</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>亚盘<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">半场亚盘</a></li>
				</ul>
					</span>
				</div>
				<div class='fl pr'>
					<span class='last'><span class='word'>大小球</span><i class='icon-down'></i>
					<ul class='pa'>
					<li><a href="javascript:void(0);" class='active'>大小球<i class='icon-up'></i></a></li>
					<li><a href="javascript:void(0);">半场大小球</a></li>
				</ul>
					</span>
				</div>
				
			</div>
			<div class="jc active">
				
			
			<table >
				
				<tr>
					<th width='110px'>场次</th>
					<th width='110px'>联赛</th>
					<th width="215px">主队VS客队</th>
					<th width="145px">比赛时间</th>
					<th width="93px">让球</th>
					<th width="100px">胜</th>
					<th width="100px">平</th>
					<th width="100px" class='last'>负</th>
				</tr>
			</table>
			<div class="table-wrap mCustomScrollbar">
			<table class='tbody' >
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width='107px'>周一001</td>
					<td width='108px'>亚冠杯</td>
					<td width='212px'>亚冠杯VS亚冠杯</td>
					<td width='143px'>02-20 19:00</td>
					<td >
						<table>
						<tr>
							<td width="92px">0</td>
							<td width="100px" class='choose'><span>1.66</span> <i></i></td>
							<td width="99px" >3.35</td>
							<td width="100px"  class='choose'><span>4.40</span> <i></i></td>
						</tr>
						<tr>
							<td   >0</td>
							<td   class='choose'><span>1.66 </span><i></i></td>
							<td  >3.35</td>
							<td   class='choose'><span>1.66 </span> <i></i></td>
						</tr>
						</table>
					</td>
				</tr>
			

				
		
			</table>
			</div>
			<div class="zu"><p>注：选择该场比赛的单选不得低于1.5，双选不得低于2 </p>
			<p class='tips'>推荐与本场比赛无关、含非法、虚假内容一经发现或本举报抄袭、转载将不会被通过</p>
			<p class="tips">竞彩玩法最多可以选择8场比赛，形成8串1推荐方案。</p>
			</div>
			</div>
				
			<div class="fjc active">
				
			
			<table>
				
				<tr>
					<th width='140px'>联赛</th>
					<th width="240px">主队VS客队</th>
					<th width="185px">比赛时间</th>
					<th width="135px">大球</th>
					<th width="135px">平</th>
					<th width="135px" class='last'>小球</th>
				</tr>
			</table>
			<div class="table-wrap mCustomScrollbar">
			<table class='tbody'>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>
				<tr>
					<td width='140px'>亚冠杯</td>
					<td width='240px'>亚冠杯VS亚冠杯</td>
					<td width='185px'>02-20 19:00</td>
					<td width='132px' class='choose'><span>1.66</span> <i></i></td>
					<td width='133px'>2.5/3球</td>
					<td width='132px' class='choose'><span>4.40</span> <i></i></td>
				</tr>

				
		
			</table>
			
			</div>
			<div class="zu"><p>注：选择该场比赛的大小球赔率不得低于0.50 </p>
			<p class='tips'>推荐与本场比赛无关、含非法、虚假内容一经发现或本举报抄袭、转载将不会被通过</p>
			<p class="tips">竞彩玩法最多可以选择8场比赛，形成8串1推荐方案。</p>
			</div>

			</div>
			
			<div class="publish">
		<div class="wrap clearfix">
		<span class='fr'>发布方案</span>
		</div>
		
	</div>

		</div>
	</div>

	<div class="mask  active pf">
		<div class="msgbox-publish">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<label for="pbtitle" class='pbtitle pblabels'>方案标题：<input type="text" placeholder="请输入标题" id='pbtitle'></label>
				<label for="pbcontent" class='pbcontent pblabels'>方案内容：<textarea name="" id="pbcontent" cols="30" rows="10" placeholder="请输入内容"></textarea></label>
				<label for="pbprice" class='pbprice pblabels'>方案价格：<input type="text" id='pbprice'>&nbsp;球币<span>&nbsp;*输入的价格必须是整数</span></label>
				<div class="select">
					<!-- <label for="playmsg"><span class='checkradio'><input type="checkbox" name="pbmsg" id="playmsg" ></span>隐藏玩法信息</label>
					<label for="gamemsg"><span class='checkradio'><input type="checkbox" name="pbmsg" id="gamemsg" ></span>隐藏比赛信息</label> -->
					<form action="">
						<label for="refund"><span class='inputradio'><input type="radio" name="pbmsg1" id="refund" ></span>不中就退</label>
					<label for="norefund"><span class='inputradio'>
						<input type="radio" name="pbmsg1" id="norefund" >
					</span>不中不退</label>
					</form>
					
					
				</div>
				<p class="zu">注：如果推荐结果不中，仍然收取用户购买方案的金额</p>
				<div class='pbsubmit'>
					<input type="button" value="提交确认" class='submitBtn'>
					<p>您还可以发布<span>n</span>篇推介</p>
				</div>
				
				
				
				
			</div>
		</div>

		<!-- <div class="msgbox-pbtips">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<div class="pbbgc"></div>
				<p>恭喜您~发布成功！</p>
				<div class="pbtipBtn">
					<input type="button" value="继续发布" class='pb-left'>
					<input type="button" value="方案详情">
				</div>			
			</div>
		</div> -->
		<!-- <div class="msgbox-tips">
			<div class="title">温馨提示<span class="close"></span></div>
			<div class="content">
				<p class='count'>双选投注不得低于2.0</p>
			</div>
			
		</div> -->
		</div>
			</div>
	
	
	<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
	<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="../js/common.js"></script>
	<script src='../js/homepage.js'></script>
	<script src='../js/newcase.js'></script>
</body>
</html>